*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.Login {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.container{
    width: 85vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

div.Name-compani {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 2px solid #040404;
}

img.logo {
    width: 8%;
    position: fixed;
    height: 17%;
    top: -2%;
    left: 38%;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.formulari input{
	font-family: 'Poppins', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}

div.hr {
	
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img {
    height: 80px;
    position: relative;
    top: 22px;
}

.login-content h2 {
    margin: 55px 0;
    color: #333;
    font-size: 2.0rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div > div{
    position: relative;
	height: 45px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #f66f00;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover{
	color: #f66f00;
}

.btn {
    width: 70%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #f66f00, #f66f00, #ede610);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
	background-position: right;
}

button.btn-new-acount {
    width: 25%;
    right: 19rem;
    top: 30rem;
    position: absolute;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #f66f00, #f66f00, #ede610);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn-new-acount:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.Login{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}